:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --column-size: 100px;
  --grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  --grid-template-rows: repeat(25, 125px);
  --card-margin-bottom: 15px;
  --scale-size: 2;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}